.mapContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  #map {
    width: 95%;
    height: 75vh;
  }
}

.openMap {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $colorOrange;
  cursor: pointer;
  z-index: 3;

  i {
    margin-right: 5px;
  }
}
