// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .mapContainer {
    position: absolute !important;
    top: 40px;
    transform: translateX(-100%);
    opacity: 0;
    &.openMap {
      transform: translateX(0);
      opacity: 1;
    }
  }
  #map {
    height: 90vh !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .openMap {
    display: none;
  }
  .storeData .store .adultMask p,
  .storeData .store .chileMask p {
    font-size: 14px;
  }
  .storeData .store .adultMask h4,
  .storeData .store .chileMask h4 {
    font-size: 20px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .openMap {
    display: none;
  }
}
